.CANECA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(108, 219, 219);
    height: 100px;
    width: 100%;
}

body{
    margin: 0;
    background-color: black;
    color: blanchedalmond;
}

.FACE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 980px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
}

.CORDA{
    display: flex;
    flex-direction: row;
}

.BULACHA .LAJE{
    display: flex;
    flex-direction: row;
}

.MAJOR{
    display: flex;
    flex-direction: row-reverse
}

.WPP{
    display: flex;
    border: 3px solid #fff;
    height: 500px;
}

.PAPEL{
    display: flex;
    border: 3px solid #fff
}

.VASSOURA{
    display: flex;
    font-size: large;
}

.BOQUITA h1{
    display: flex;
    background-color: chocolate;
    width: 27%;
}