.CANECA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(108, 219, 219);
    height: 100px;
    width: 100%;
}

body{
    margin: 0;
    background-color: black;
    color: blanchedalmond;
}

.AGENTE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 980px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}

.HITMAN{
    display: flex;
    flex-direction: row;
}

.BULACHA .LAJE{
    display: flex;
    flex-direction: row;
}

.FIFA{
    display: flex;
    flex-direction: row-reverse
}

.HITMAN{
    display: flex;
    border: 3px solid #fff
}

.CREED{
    display: flex;
    border: 3px solid #fff
}

.KING{
    display: flex;
    font-size: large;
}