:root{
    --corPrincipal:#06c59c;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.coluna{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.fundo{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.barra{
    width: 100%;
    height: 50px;
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.imagemG{
    width: 100%;
    height: 300px;
    background-color: var(--corPrincipal);
}

.imagemP{
    width: 400px;
    height: 180px;
    background-color: var(--corPrincipal)   ;
}
